.team-text{
    color: #fff;
    margin-top: 50px;
}

.team-header{
    font-size: 60px;
}

.team-para{
    font-size: 30px;
}

.row-team{
    color: #fff;
    margin-top: 50px;
}

.second-row{
    margin-top: 20px;
}

.team-ind-header{
    margin-top: 10px;
}

.modal-content{
    color: #fff;
    background-color: #1c1c1c;
}

.btn-close{
    background-color: #fff !important;
}